//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.06Beta
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Sun 07 11 18:20:17 2021

IO_LOC "esp_dt[7]" 22;
IO_PORT "esp_dt[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "esp_dt[6]" 21;
IO_PORT "esp_dt[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "esp_dt[5]" 13;
IO_PORT "esp_dt[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "esp_dt[4]" 11;
IO_PORT "esp_dt[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "esp_dt[3]" 10;
IO_PORT "esp_dt[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "esp_dt[2]" 9;
IO_PORT "esp_dt[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "esp_dt[1]" 8;
IO_PORT "esp_dt[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "esp_dt[0]" 5;
IO_PORT "esp_dt[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "esp_ad[2]" 18;
IO_PORT "esp_ad[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "esp_ad[1]" 20;
IO_PORT "esp_ad[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "esp_ad[0]" 16;
IO_PORT "esp_ad[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "esp_ct[2]" 46;
IO_PORT "esp_ct[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "esp_ct[1]" 24;
IO_PORT "esp_ct[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "esp_ct[0]" 23;
IO_PORT "esp_ct[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "esp_req" 17;
IO_PORT "esp_req" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "msx_dt[7]" 34;
IO_PORT "msx_dt[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "msx_dt[6]" 33;
IO_PORT "msx_dt[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "msx_dt[5]" 32;
IO_PORT "msx_dt[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "msx_dt[4]" 31;
IO_PORT "msx_dt[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "msx_dt[3]" 30;
IO_PORT "msx_dt[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "msx_dt[2]" 29;
IO_PORT "msx_dt[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "msx_dt[1]" 28;
IO_PORT "msx_dt[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "msx_dt[0]" 27;
IO_PORT "msx_dt[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "msx_ad[7]" 45;
IO_PORT "msx_ad[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "msx_ad[6]" 44;
IO_PORT "msx_ad[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "msx_ad[5]" 43;
IO_PORT "msx_ad[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "msx_ad[4]" 41;
IO_PORT "msx_ad[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "msx_ad[3]" 42;
IO_PORT "msx_ad[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "msx_ad[2]" 40;
IO_PORT "msx_ad[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "msx_ad[1]" 38;
IO_PORT "msx_ad[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "msx_ad[0]" 39;
IO_PORT "msx_ad[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "msx_req" 19;
IO_PORT "msx_req" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
